<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="publicKeyDAO" class="com.beilers.service.dao.key.PublicKeyDao" />

	<bean id="payloadDAO" class="com.beilers.service.dao.payload.PayloadDao" />

	<bean id="keyMakerService" class="com.beilers.service.KeyMakerService">
		<property name="publicKeyDAO" ref="publicKeyDAO" />
		<property name="parameters">
			<bean
				class="com.beilers.encryption.diffiehellman.parameters.DefaultParameters" />
		</property>
	</bean>


	<bean id="encryptedDataService" class="com.beilers.service.EncryptedDataService">
		<property name="payloadDao" ref="payloadDAO" />
	</bean>

	<bean id="publicKeyHandler" class="com.beilers.service.handler.GetPublicKey">
		<property name="keyMakerService" ref="keyMakerService" />
	</bean>

	<bean id="encryptedDataHandler" class="com.beilers.service.handler.GetEncryptedData">
		<property name="keyMakerService" ref="keyMakerService" />
		<property name="encryptedDataService" ref="encryptedDataService" />
	</bean>

</beans>
